body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}

.container {
max-width: 400px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 0 10px slategray;
}

h2 {
text-align: center;
}

.form-group{
margin-bottom: 20px;
}

label {
display: inline-block;
margin-bottom: 5px;
font-weight: bold;
vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: 95%; /*95% looks better*/
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}


button {
width: 100%;
padding: 10px;
background-color: #007bff;
border: none;
border-radius: 5px;
color: #fff;
font-size: 16px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}